<div class="main">
    <div class="container">
        <h1>New Password Require</h1>

        <div class="newPasswordClass">
            <form [formGroup]="passwordForm" (ngSubmit)="confirmPasswordReset()">
                <label for="currentpassword">Current Password: </label>
                <input id="currentpassword" type="password" formControlName="currentpassword">

                <label for="newPassword">New Password: </label>
                <input id="newPassword" type="password" formControlName="newPassword">

                <label for="confirmPassword">Current Password: </label>
                <input id="confirmPassword" type="password" formControlName="confirmPassword">

                <button type="submit">Continue</button>
            </form>
        </div>
    </div>
</div>